<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devoir Vue</title>

    <link rel="stylesheet" href="js/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />

    <script src="js/lib/jquery/dist/jquery.min.js"></script>
    <script src="js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/lib/vue/dist/vue.js"></script>
    <script src="js/lib/vue-resource/dist/vue-resource.js"></script>
    <script src="js/lib/vue-router/dist/vue-router.js"></script>
    <script src="js/lib/vue-ls/dist/vue-ls.js"></script>

</head>
<body>
    <div id="app">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li><a href="#" @click.prevent="evaluer">Evaluation</a></li>
                <li><a href="#" @click.prevent="entrainer">Entrainement</a></li>
                <li><a href="#" @click.prevent="obtenirResultats">Résultats</a></li>
            </ul>
        </div>
        <div class="main">
            <template v-if="affichage == 'resultats'">
                <div class="table-multi" v-for="table in tables">
                    <h4>Table de {{ table.nom }}</h4>
                    <ul>
                        <li v-for="operation in table.operations">
                            {{ table.nom }} x {{ operation.facteur }} = {{ operation.produit }}
                        </li>
                    </ul>
                </div>
            </template>
            <template v-else-if="affichage === 'question'">
                <h4>Question {{ compteur_q + 1 }}</h4>
                <div class="intitule"> {{ test[compteur_q].intitule }} </div>
                <button @click.prevent="prochaineQuestion(test[compteur_q].options[0])">{{ test[compteur_q].options[0] }}</button>
                <button @click.prevent="prochaineQuestion(test[compteur_q].options[1])">{{ test[compteur_q].options[1] }}</button>
                <button @click.prevent="prochaineQuestion(test[compteur_q].options[2])">{{ test[compteur_q].options[2] }}</button>
            </template>
            <template v-else-if="affichage === 'correction'">
                <h4>Résultat du test</h4>
                <p>Tu as eu {{ note }} réponses correctes sur 10. {{ commentaire_test }} </p>
                <ul>
                    <li v-for="reponse in test">
                        <template v-if="reponse.reponse === reponse.selectionUtilisateur">
                            <div class="correction bonneReponse">{{ reponse.intitule }} = {{ reponse.reponse }} est la bonne réponse!</div>
                        </template>
                        <template v-else="reponse.reponse === reponse.selectionUtilisateur">
                            <div class="correction mauvaiseReponse">{{ reponse.intitule }} = {{ reponse.selectionUtilisateur }} n'est la bonne réponse. La bonne réponse était {{ reponse.reponse }}.</div>
                        </template>
                    </li>
                </ul>
            </template>
            <!-- Un clic sur un de ces boutons ajoute ou retire une table dans laquelle piocher des opérations, pour l'entraînement (voir console) -->
            <template v-else-if="affichage === 'selectionTables'">
                <button @click.prevent="modifierTablesRevision('1')">{{ 1 }}</button>
                <button @click.prevent="modifierTablesRevision('2')">{{ 2 }}</button>
                <button @click.prevent="modifierTablesRevision('3')">{{ 3 }}</button>
                <button @click.prevent="modifierTablesRevision('4')">{{ 4 }}</button>
                <button @click.prevent="modifierTablesRevision('5')">{{ 5 }}</button>
                <button @click.prevent="modifierTablesRevision('6')">{{ 6 }}</button>
                <button @click.prevent="modifierTablesRevision('7')">{{ 7 }}</button>
                <button @click.prevent="modifierTablesRevision('8')">{{ 8 }}</button>
                <button @click.prevent="modifierTablesRevision('9')">{{ 9 }}</button>
                <button @click.prevent="modifierTablesRevision('10')">{{ 10 }}</button>
                <button @click.prevent="lancerEntrainement"> Lancer l'entraînement</button>
            </template>

        </div>
    </div>

    <script>

    var vue = new Vue({
        el: '#app',
        data: {
            tables: [],
            tables_evaluation: [],
            tables_a_reviser: ["1","2","3","4","5","6","7","8","9","10"],
            test: [],
            note: 0,
            commentaire_test: "",
            compteur_q: 0,
            /*times: [0,0,0,0,0,0,0,0,0,0],*/
            startTime: 0,
            affichage: "home"
        },
        methods: {
            chargementDonnees(){
                if(localStorage.getItem("save") === null){
                    $.getJSON( "files/save/save.json", function( data ) {
                        console.log("no save");

                        this.tables = data.tables;
                        localStorage.setItem("save", JSON.stringify(data.tables));
                    });
                }else{
                    console.log("save found");
                    this.tables = JSON.parse(localStorage.getItem("save"));
                }
            },
            resetTest(){
                this.compteur_q = 0;
                this.note = 0;
                this.commentaire_test = "";
                this.tables_evaluation = [];
                this.test = [];
                this.startTime = 0;
                this.tables_a_reviser = ["1","2","3","4","5","6","7","8","9","10"];
            },
            prochaineQuestion: function(previous_answer){
                this.test[this.compteur_q].selectionUtilisateur = previous_answer;
                this.test[this.compteur_q].temps = Date.now() - this.startTime;
                /*this.times[this.compteur_q] = Date.now() - this.startTime;*/

                this.compteur_q++;
                this.startTime = Date.now();

                if(this.compteur_q === 10){
                    this.corrigerTest();
                }
            },
            obtenirResultats(){
                this.resetTest();
                this.affichage = "resultats";
            },
            entrainer(){
                this.resetTest();
                this.affichage = "selectionTables"
            },
            lancerEntrainement(){
                this.affichage = "question";
                this.startTime = Date.now();
                this.genererTest();
            },
            modifierTablesRevision: function(value){
                this.isActive = !this.isActive;
                if($.inArray(value, this.tables_a_reviser) === -1){
                    this.tables_a_reviser.push(value.toString());
                }else{
                    var index = this.tables_a_reviser.indexOf(value);
                    this.tables_a_reviser.splice(index, 1);
                }
                console.log(this.tables_a_reviser);
            },
            evaluer(){
                this.resetTest();
                this.affichage = "question";
                this.startTime = Date.now();
                this.genererTest();
            },
            genererTest(){
                this.obtenirTablesTest();
                for(i = 0; i < 10; i++){
                    this.genererChoix(); 
                }   
            },
            obtenirTablesTest(){
                for(indextable_r in this.tables_a_reviser){
                    for(indextable_t in this.tables){
                        if(this.tables_a_reviser[indextable_r] === this.tables[indextable_t].nom){
                            this.tables_evaluation.push(JSON.parse(JSON.stringify(this.tables[indextable_t])));
                        }
                    }
                }
            },
            genererChoix(){

                //on sélectionne aléatoirement une opération dans les tables possibles, c'est à changer ultérieurement
                var index_table = Math.floor(Math.random()* this.tables_evaluation.length);
                var table = this.tables_evaluation[index_table];
                var index_operation = Math.floor(Math.random()* table.operations.length);
                var operation = table.operations[index_operation];

                var intitule = table.nom + " x " + operation.facteur;
                var reponse = operation.produit;

                //génération des options
                var options = this.genererFauxResultat(table.nom, operation.facteur, reponse);
                options.push(reponse);

                //on mélange les options qui seront proposés à l'utilisateur
                options = this.melangerChoix(options);

                //on retire l'operation des choix possibles (pour éviter les doublons de questions)
                this.tables_evaluation[index_table].operations.splice(index_operation, 1);

                //ajout de la question et des choix au test
                this.test.push({ intitule:intitule, nom: table.nom, facteur: operation.facteur, reponse:reponse, options:options, selectionUtilisateur:"-1", temps: 0});
            },
            melangerChoix: function(options){
                var j, x, i;
                for (i = options.length - 1; i > 0; i--) {
                    j = Math.floor(Math.random() * (i + 1));
                    x = options[i];
                    options[i] = options[j];
                    options[j] = x;
                }
                return options;
            },
            genererFauxResultat: function(nom, facteur, produit){
                var produit = parseInt(produit); //1
                var nom = parseInt(nom); //1
                var facteur = parseInt(facteur); //1

                var option_1 = 0;
                var option_2 = 0;

                //on utilise ces variables pour rendre les options proposées plus aléatoires
                var variation_1 = Math.floor(Math.random()*2);
                var variation_2 = Math.floor(Math.random()*2);

                //un multiple de nombre pair est toujours pair, donc on les traite séparément
                var coeff_parite = 1;
                if(nom % 2 === 0){
                    coeff_parite = 2;
                }
                var tmp1 = Math.floor(Math.random() * nom / coeff_parite) * coeff_parite + coeff_parite;
                var tmp2 = Math.floor(Math.random() * nom / coeff_parite) * coeff_parite + coeff_parite;

                //pour ne pas avoir deux fois la meme option
                if(tmp1 === tmp2){
                    tmp2 += coeff_parite;
                }
                    
                //quand le facteur est 0, cas spécial, on ne veut pas de nombre négatif en option
                if (facteur === 0){
                    option_1 = produit + Math.floor(tmp1/2) + 1;
                    option_2 = produit + Math.floor(tmp1/2) + Math.floor(tmp2/2) + 2;
                }else{
                    if(variation_1 === 0){
                        option_1 = produit + tmp1;
                    }else{
                        option_1 = produit + tmp1 * -1;
                    }
                    if(variation_2 === 0){
                        option_2 = produit + tmp2;
                    }else{
                        option_2 = produit + tmp2 * -1;
                    }
                }

                //sécurité supplémentaire pour éviter des options inférieures à zéro
                if(option_1 < 0){
                    option_1 = produit + Math.abs(option_2);
                }

                if(option_2 < 0){
                    option_2 = produit + Math.abs(option_1);
                }

                return [option_1.toString(), option_2.toString()];
            },
            corrigerTest(){
                /*console.log(localStorage.getItem("save"));*/
                this.sauvegardeResultats();
                for(i in this.test){
                    if(this.test[i].selectionUtilisateur === this.test[i].reponse){
                        this.note++;
                    }
                }
                if(this.note === 10){
                    this.commentaire_test = "Félicitations!"
                }else if(this.note >= 8){
                    this.commentaire_test = "Bien joué!"
                }else if(this.note >= 6){
                    this.commentaire_test = "Pas mal!"
                }else{
                    this.commentaire_test = "Tu peux faire mieux, continue de t'entraîner!"
                }
                this.affichage = "correction";
            },
            sauvegardeResultats(){
                /*console.log(this.tables[0].operations[0].tempsMoyen);*/
                for(i in this.tables){
                    for (j in this.tables[i].operations){
                        for (l in this.test){
                            if(this.test[l].nom === this.tables[i].nom && this.test[l].facteur === this.tables[i].operations[j].facteur){
                                var reussites = parseInt(this.tables[i].operations[j].reussites);
                                var erreurs = parseInt(this.tables[i].operations[j].erreurs);
                                var ancienTempsMoyen = parseInt(this.tables[i].operations[j].tempsMoyen);
                                if(this.test[l].selectionUtilisateur === this.test[l].reponse){
                                    this.tables[i].operations[j].reussites = (reussites + 1).toString();
                                }else{
                                    this.tables[i].operations[j].erreurs = (erreurs + 1).toString();
                                }
                                this.tables[i].operations[j].tempsMoyen = (((reussites + erreurs) * ancienTempsMoyen + this.test[l].temps) / (reussites + erreurs + 1)).toString();
                            }
                        }
                    }
                }
                localStorage.setItem("save", JSON.stringify(this.tables));
            }

        },
        created(){
            this.chargementDonnees();
        }
    })
    </script>

</body>
</html>
